body {
    background-image: url('../assets/img/buildings.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-size: 100% 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.mycommon {
    background-color: lightblue;
    border: 2px solid navy;
    position: absolute;
}

.myheader {
    top: 5px;
    left: 5px;
    right: 5px;
    height: 150px;
    padding-left: 2px;
    padding-right: 2px;
    padding-top: 2px;
    background-color: steelblue;
}

.myheadertext {
    text-align: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 300%;
    font-weight: bold;
    height: 150px;
    line-height: 150px;
    color: azure;
}

h1 {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-size-adjust: 20;
    padding-left: 15px;
}

h2 {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-size-adjust: 20;
    padding-left: 15px;
    text-align: center;
}

h3 {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-size-adjust: 20;
    padding-left: 15px;
    text-align: center;
}

.mynavbar {
    top: 164px;
    left: 5px;
    right: 5px;
    height: 55px;
    padding-left: 2px;
    padding-right: 2px;
    background-color: lightgray
}

.mynavtext {
    display: flex;
    align-items: center;
    justify-content:center;
    justify-content: space-around;
    display: flex;
    }

.mymainbody {
    top: 228px;
    height: auto;
    left: 150px;
    right: 150px;
    padding-left: 2px;
    padding-right: 2px;
}

.bodytext {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding-left: 20px;
    padding-right: 20px;
}

.myfooter {
    position:fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
    height: 25px;
    font-size: 16px;
    text-align: center;
    background-color: lightblue;
    border: 2px solid navy;
    
    }

.mycenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 79%;
  }

  iframe{
    margin-left: auto;
    margin-right: auto;
    display: block;
    border-radius: 5px;
  }

  .mynavbar:hover{
    /*
    1. grow size by 5 % 
    2. back color to mild color
    3. border around it, small
    */
    font-size: 105%;
    background-color: lightgray;
    border: 1px solid black
}